<div class = "footer fixed-bottom">
  <div class = "links">
    <ul>
      <li><a href="https://github.com/lewagon" target="_blank"><i class="fab fa-github"></i></a></li>
      <li><a href="https://twitter.com/fmendonca8" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.linkedin.com/in/franciscomendonca8/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      <li><a href=https://fmvolt.bandcamp.com/ target="_blank"><i class="fab fa-bandcamp"></i></a></li>
    </ul>
    <p>My first deployed app with Heroku :) </p>
  </div>
</div>
