<div class="wrapper test-card">

  <div class="overviewInfo">
    <div class="productinfo">
      <div class="grouptext">
         <h3>VIDEOGAME</h3>
         <p>Cloud Atlas</p>
      </div>
      <div class="grouptext">
         <h3>RELEASE</h3>
         <p>Fall 2020</p>
      </div>
      <div class="grouptext">
         <h3>PRICE</h3>
         <p>$50</p>
      </div>
  </div>

</div>
  <!-- overview info -->

  <div class="productSpecifications">
    <h1> Spaceship </h1>
    <p> He looked around. The spaceship, which was no more then fifteen to twenty meters long, had dug itself deep into a hillside. The one silver-chrome like skin was a burnt and charred waste. Zack stood back and looked at the craft. </p>

    <div class="productFeatures">
      <div class="feature">
        <div class="featureIcon">
        </div>
        <div class="featureText">
          <p> <strong>Futuristic</strong></p>
          <p>Design</p>
        </div>
      </div>
      <div class="feature">
        <div class="featureIcon">
        </div>
         <div class="featureText">
          <p> <strong>Highly</strong></p>
          <p>sought after</p>
        </div>
       </div>
      <div class="feature">
        <div class="featureIcon">
        </div>
         <div class="featureText">
          <p> <strong>1 of Limited </strong></p>
          <p>edition of 50</p>
        </div>
        </div>
      <div class="feature">
        <div class="featureIcon">
        </div>
         <div class="featureText">
          <p> <strong>Color</strong></p>
          <p>Dark grey</p>
        </div>
      </div>
    </div>

    <div class="checkoutButton">
      <div class="priceTag">
        <span>$</span>50
      </div>
      <button class="preorder">
        <p>Preorder</p>
        <div class="buttonaction">
         <svg
  width="24"
  height="24"
  viewBox="0 0 24 24"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M23.0677 11.9929L18.818 7.75739L17.4061 9.17398L19.2415 11.0032L0.932469 11.0012L0.932251 13.0012L19.2369 13.0032L17.4155 14.8308L18.8321 16.2426L23.0677 11.9929Z"
    fill="currentColor"
  />
</svg>
        </div>
      </button>
    </div>
  </div>
  <!-- product specificaiton -->

</div>
<!-- wrapper-->
